*.iml
.gradle
.idea
.idea/caches
.idea/inspectionProfiles
.idea/AndroidProjectSystem.xml
.idea/appInsightsSettings.xml
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/migrations.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
/local.properties
/build
/captures
.externalNativeBuild
.cxx
local.properties
